.div-add-materia-mid-modal::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.limitador-mid-modal::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.containerMidModalQuestion:-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.body-prova-addition{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr 5fr;
}

button{
    padding: 1rem 2rem;
    background-color: #780D28;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 31.76px;
}

.left-body-prova-addition{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-prova-addition{
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-rows: 2fr 6fr 6fr 2fr;
    gap: 2rem;
}


.info-prova-addition{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 10%;
}

.info-details-prova-addition{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5%;
    grid-template-rows: repeat(4,20%);
}



.info-details-prova-addition span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #780D28;
    color: white;
    font-size: 1.2rem;
}

.info-details-prova-addition input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #EEEEEE;
    border-bottom: 2px solid #780D28;
    border-right: 2px solid #780D28;
}



.inputSelect{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #EEEEEE;
    border-bottom: 2px solid #780D28;
    border-right: 2px solid #780D28;
}

.materias-prova-addition {
    background: #eee;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    gap: 2%;
    margin-top: -1rem;
}

.limitarMateriasProvaAddition{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5% 2%;
}

.adicionarMateriasProvaAddition{
    background-color: black;
    overflow: hidden;
}

.buttonSelectDelete{
    background-color: #2FC402;
    overflow: hidden;
}

.concluir-prova-addition{
    justify-self: end;
    align-self: flex-end;
}

.right-body-prova-addition{
    display: grid;
    grid-template: 1fr 8fr/ 1fr 7fr 1fr;
    background-color: #780D28;
    position: relative;
    max-height: 100vh;
}

.prova-right-side-prova-addition{
    background-color: white;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    max-height: 97%; 
    overflow-y: auto; 
    background: white;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(5, 20%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Escurece o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    width: 35%;
    height: 70%;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 7fr 1.5fr;
}

.top-modal{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.top-modal button{
    margin-left: -5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1.2rem;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.mid-modal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.left-mid-modal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8fr 2fr;
    justify-items: center;
}


.left-mid-modal span{
    width: 80%;
    justify-self: center;
    color: #2FC402;
}

.materias-mid-modal{
    width: 90%;
    max-height: 100%;
    overflow: hidden; 
}

.add-materia-mid-modal{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: black;
    color:white;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}



.materias-mid-modal button{
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
}

.limitador-mid-modal{
    height: 14rem;
    background-color: #F1F1F1;
    overflow-y: auto;
}

.materias-open-modal button{
    background-color: black;
    border: 1px solid white;
    font-weight: bold;
}

.right-mid-modal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8fr 2fr;
    justify-items: center;
}

.right-mid-modal span{
    width: 80%;
    justify-self: center;
    color: #2FC402;
}

.bottom-modal{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.bottom-modal button{
    grid-column-start: 2;
    padding: 0.5rem 2rem;
    align-self: center;
    justify-self: center;
}

.div-add-materia-mid-modal button{
    background-color: #2FC402;
    border: 1px solid white;
}

.div-add-materia-mid-modal{
    height: 14rem;
    background-color: #F1F1F1;
    overflow-y: auto;
}

.Logo-catolica-right-side{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questao-right-side{
    width: 90%;
    height: 100%;
    justify-self: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-lateral-direito{
    border-radius: 0;
}

.modalQuestion{
    width: 35%;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridModal{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: 2fr 7fr 1fr;
    gap: 2%;
}

.confirmButtonModal{
    justify-self: end;
}

.topModalQuestion{
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.topModalQuestion .complete{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;

}

.complete button{
    border-radius: 50%;
    padding: 1.5rem;
}


.closeTopModalQuestion{
    width: 50%;
    height: 100%;
}

.topModalQuestion span{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: justify;
    font-size: 1.2rem;
    margin: .2rem;
    color: #2FC402;
}

.containerMidModalQuestion{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
}

.containerMidModalProvaAmostral{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}

.pergunta-item{
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-rows: 4fr 6fr;
    max-height: 270px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 2%;
}

.titleQuestionModal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #780D28;
}


.pergunta-inativa {
    background-color: #f8d7da; /* Vermelho claro indicando que está inativa */
    transition: background-color 0.3s, opacity 0.3s;
}

.pergunta-item span{
    width: 95%;
    color: white;
}

.containerQuestionModal{
    display: flex;
    flex-direction: column;
    gap:10%;
    height: 100%;
    width: 90%;
    text-align: justify;
}

.buttonCriarPergunta{
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputResposta{
    width: 100%;
    padding: 1.5% 0;
    background-color: #EEEEEE;
    color: black;
    border: none;
}

.inputPergunta{
    width: 100%;
    padding: 2% 3rem;
    background-color: transparent;
    color: white;
    border: none;
}

.inputPergunta::placeholder{
    color: white;
}

.buttonCriarPergunta button{
    width: 100%;
    background-color: black;
}

.responseQuestionModal{
    display: flex;
    gap: 5%;
    margin-bottom: 2%;
}

.responseQuestionModal label{
    font-size: 1rem;
}

.pergunta-item form{
    display: flex;
    align-self: center;
    padding: 1rem 0;
}