.body{
    background-color: #780D28;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

img{
    pointer-events: none;
}

.geral{
    margin-bottom: 5rem;
}

.divLoginImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.divInput{
    display: flex;
    flex-direction: column;
}

.divDivInputUser{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.divDivInputPass{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;   
}

.divInput span{
    color: white;
    font-size: 15px;
}

input{
    outline: none;
}

.inputUser{

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1px;
    border: none;
    width: 400px;
}

.inputPass{

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1px;
    border: none;
    width: 400px;   
}

.divButtonConfirm{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divButtonConfirm button{
    cursor: pointer;
}

.buttonConfirm{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    width: 100px;
    background-color: white;
    color: black;
    transition: scale .5s ease-out;
}

.buttonConfirm:active{
    scale: 1.1;
    transition: .2s;
}

