.body-provas-view {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divisor-provas-view {
    width: 85%;
    height: 80%;
    display: grid;
}

.addition-prova-view {
    grid-column-start: 4;
}

.header-provas-view {
    width: 80%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    justify-items: end;
    align-items: center;
}

.sair-header-provas-view {
    grid-column-start: 1;
    align-self: center;
    justify-self: start;
}

button {
    cursor: pointer;
}

.trocar-header-provas-view {
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
}

.adicionar-header-provas-view {
    grid-column-start: 4;
    justify-self: end;
    align-self: center;
}

.main-provas-view {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
    gap: 0 2rem;
}