.body-esqueci-senha {
    background-color: #780D28;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div-esqueci-senha-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-recuperacao-span {
    margin: 2rem 0;
  }
  
  .div-recuperacao-span span {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .div-recuperacao-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .div-recuperacao-input span {
    color: white;
    font-size: 15px;
  }
  
  .div-recuperacao-input input {
    padding: 10px;
    width: 400px;
  }
  
  .div-recuperacao-button button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    width: 100px;
    background-color: white;
    transition: scale 0.5s ease-out;
  }
  
  .div-recuperacao-email-enviado {
    width: 100%;
    color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .div-recuperacao-email-enviado span {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .div-recuperacao-email-enviado button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    width: 100px;
    background-color: white;
    transition: scale 0.5s ease-out;
  }

  .button-div-recuperacao-button{
    color: black;
  }