*{
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
}

.divHeaderLobby{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22vh;
}

.spanHeaderIcon{
    margin-right: 2rem;
    color: white;
    padding: 1rem 2rem;
    background-color: #780D28;
    font-size: 1.2rem;
    border-radius: 31.76px;
}


.main-content-3op{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.botao-retornar{
    border: none;
    padding: 1.2rem;
    background-color: #780D28;
    border-radius: 31.76px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.divHeaderLobbyLogo{
    width: 25%;
    margin-left: 2rem;
    display: flex;
    justify-content: start;
}

.divHeaderLobbyLogo img{
    width: 8rem;
    margin-top: -1rem;
}

.divSpanHeaderLobbyTitle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSpanHeaderLobbyTitle span{
    color: #780D28;
    font-size: 2rem;
    margin-right: 2rem;
}

.divHeaderIcon{
    width: 25%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.divHeaderIcon i{
    font-size: 3rem;
    margin-right: 3rem;
    color: #780D28;
}

.icon{
    cursor: pointer;
}

/* Estilização da tabela dentro da divLobbyTable */
.divLobbyTable {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 99.5%;

    border-collapse: collapse;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: white;
}


thead {
    background-color: #780D28;
    color: white;
    font-weight: bold;
}

th {
    padding: 12px;
    border: 1px solid white;
}

td {
    padding: 10px;
    border: 1px solid #780D28;
    color: #780D28;
    font-weight: bold;
}

.divMainLobby{
    height: 78vh;
    display: flex;
    justify-content: center;
}

.divDivMainLobby{
    width: 65%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.divLobbyTable{
    width: 60%;
    height: 100%;
    background-color: #780D28;
    margin-bottom: 1.2rem;
}

.divLobbyPages{
    width:25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.divDivLobbyPages{
    width: 100%;
}

.divDivLobbyPages img{
    width: 100%;
}

.divSpanLobbyPage{
    background-color: #780D28;
    padding: .5rem 0;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

