.body-admin{
    background-color: #780D28;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.header-admin{
    width: 80%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.sair-header-admin{
    grid-column-start: 1;
    align-self: center;
}

.main-admin{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
    gap: 0 2rem;
}

button{
    cursor: pointer;
}

.trocar-header-admin{
    grid-column-start: 2;
    justify-self: center;
    background: white;
    align-self: center;
    padding: 0 1rem .5rem;
    border-radius: 5px;
}

.trocar-header-admin button{
    padding: .7rem 2.6rem;
    background-color: #780D28;
    border: none;
    border-radius: 31.76px;
    color: white;
    font-size: 1.2rem;
}

.adicionar-header-admin{
    justify-self: end;
    align-self: center;
}

.adicionar-header-admin button{
    padding: 1rem 1.3rem;
    background-color: #780D28;
    border: none;
    border-radius: 31.76px;
    color: white;
    font-size: 1.2rem;
}