.bodyEsqueciSenha{
    background-color: #780D28;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divEsqueciSenhImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divRecuperacaoSpan{
    margin: 2rem 0;
}

.divRecuperacaoSpan span{
    color: white;
    font-size: 20px;
    font-weight: bold
}

.divRecuperacaoInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

.divRecuperacaoInput span{
    color: white;
    font-size: 15px;
}

.divRecuperacaoInput input{
    padding: 10px;
    width: 400px;
}

.divRecuperacaoButton button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    width: 100px;
    background-color: white;
    transition: scale .5s ease-out;
}

.divRecuperacaoEmailEnviado{
    width: 100%;
    color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divRecuperacaoEmailEnviado span{
    color: white;
    font-size: 20px;
    font-weight: bold
}	

.divRecuperacaoEmailEnviado button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    width: 100px;
    background-color: white;
    transition: scale .5s ease-out;
}